<%- include("header") -%>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum non eos, id neque ducimus numquam ea omnis cupiditate fuga dolorum corrupti quibusdam nihil? At aperiam numquam repellendus sint. Rem qui quos impedit. Voluptatum quisquam accusantium maiores mollitia, rem in quo.</p>

<%- include("footer") -%>